deployment/**/*.sh text eol=lf
deployment/**/*.service text eol=lf
deployment/**/*.timer text eol=lf
deployment/**/*.yml text eol=lf
deployment/**/*.yaml text eol=lf
deployment/**/*.py text eol=lf
deployment/**/*.conf text eol=lf
deployment/**/*.txt text eol=lf
